:root {
  --white: #ffffff;
  --green1: #00a651;
  --green2: #005f15;
  --grey: #666666;
  --grey2: #f9f9f9;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans.ttf);
}

body {
  font-family: "Open Sans", sans-serif;
}

/* HEADER STARTS  */

.max-width {
  max-width: 1400px;
}

.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 100%,
      rgba(255, 255, 255, 0.5) 0%
    ),
    url("../images/hero-img.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  min-height: 100vh;
}

.travelNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.travelNav li {
  text-decoration: none;
  list-style: none;
  margin: 0 20px;
}

ul a {
  font-size: 20px;
  text-decoration: none;
  color: var(--white);
}

ul a:hover {
  text-decoration: underline;
}

.star img {
  max-width: 33px;
  color: orangered;
  object-fit: contain;
}

.profile img {
  max-width: 40px;
  color: var(--white);
  object-fit: contain;
}

.bannerWrapper {
  min-height: calc(100vh - 110px);
}

.header-title {
  font-weight: 900;
  font-size: 60px;
  color: var(--white);
}

.header-p {
  font-size: 16px;
  color: var(--white);
}

.discover-btn {
  background: var(--green1);
}

.discover-btn:hover {
  background: var(--green2);
}

@media only screen and (max-width: 768px) {
  .header-title {
    font-weight: 900;
    font-size: 36px;
    color: var(--white);
  }

  .header-p {
    font-size: 14px;
    color: var(--white);
  }
}

/* HEADER ENDS  */

/* ________________________________________________________ */

/* SERVICES START  */

.card1 {
  outline: none;
  border: none;
  max-width: 416px;
  background: var(--grey2);
  border-radius: 10px;
}

.card1 i {
  font-size: 40px;
  color: var(--green1);
}

.card2 {
  outline: none;
  border: none;
  max-width: 416px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

/* SERVICES ENDS  */

/* ________________________________________________________ */

/* RATINGS  START  */

.rating-bg {
  background-color: rgb(0, 88, 83, 0.05);
}

.hero2 {
  background-image: url("../images/map-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 500px;
}

.ratingCard {
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--white);
  text-align: center;
  max-width: 250px;
  height: 250px;
}

.ratingCard img {
  max-height: 43px;
}

.ratingHeading {
  font-size: 36px;
}

.ratingPara {
  font-size: 20px;
}

/* RATINGS ENDS  */

/* ________________________________________________________ */

/* POPULAR DESTINATIONS START  */

.hero3 {
  background-image: url("../images/map-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 680px;
  position: relative;
  left: -75px;
}

.dot {
  background-color: dodgerblue;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid var(--white);
  outline: 1px solid black;
}

.dot1 {
  position: relative;
  left: 325px;
  top: 340px;
}

.dot2 {
  position: relative;
  left: 415px;
  top: 410px;
}

.dot3 {
  position: relative;
  left: 575px;
  top: 575px;
}

.dCard {
  border-radius: 16px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1);
}

.dCard h6,
p {
  font-size: 16px;
}

.imgD {
  max-width: 180px;
}

@media only screen and (max-width: 768px) {
  .imgD {
    max-width: 100px;
  }

  .dCard h6,
  p {
    font-size: 12px;
  }
}

/* POPULAR DESTINATIONS ENDS  */

/* ________________________________________________________ */

/* Best Packages START  */

.bestP {
  background: #ecf1f0;
}

.dealLinks {
  text-decoration: none;
  background: var(--grey);
  color: var(--white);
}

.dealLinks:hover {
  background: var(--green1);
}

.cardP {
  max-width: 400px;
}

.imgP1 {
  background-image: url(../images/island.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 450px;
  max-width: 400px;
}

.pkgDetails {
  background: var(--white);
  margin-top: -120px;
}

/*  Best Packages ENDS  */

/* ________________________________________________________ */

/* START  */
